.container-friends{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    position:relative;
    border-radius: 20px;
    border: 1px solid #ccc;
    top: 100px;
    left: 100px;
    width: calc(100% - 270px);
    height: max-content;
    padding:10px;
    background-color: #fff;
    margin-bottom: 20vh;
}

.menuFriends{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 10px;
    top: 100px;
    width: 200px;
    margin-right: 10px;
}

.btnSugestoes, .btnAllFriends, .btnSolicitacoesE, .btnSolicitacoesR{
    background-color: #e22;
    margin: 0px 5px 10px 5px;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}

.btnSugestoes:hover, .btnAllFriends:hover, .btnSolicitacoesE:hover, .btnSolicitacoesR:hover{
    background-color: #a00;

}

.btnSugestoes:active, .btnAllFriends:active, .btnSolicitacoesE:active, .btnSolicitacoesR:active{
    background-color: #700;

}

.perfil-friends{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 3px;
    width:180px;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #888;
}

.perfil-friends img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    cursor: pointer;
}

.perfil-friends h3{
    margin: 10px;
    font-size: 13pt;
    cursor: pointer;
}

.perfil-friends h3:hover{
    text-decoration: underline;
}

.btnRemover, .btnRecusarFriend, .btnCancelSolicit{
    width: 100px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #e22;
    color: #fff;
    border: none;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
}

.btnRemover:hover, .btnRecusarFriend:hover, .btnCancelSolicit:hover{
    background-color: #a00;
}
.btnRemover:active, .btnRecusarFriend:active, .btnCancelSolicit:active{
    background-color: #700;
}

.btnAdicionar, .btnAceitarFriend{
    width: 100px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #2b2;
    color: #fff;
    border: none;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer; 
}

.btnAdicionar:hover, .btnAceitarFriend:hover{
    background-color: #090;
}
.btnAdicionar:active, .btnAceitarFriend:active{
    background-color: #050;
}

.imgEmpty{
    width: 400px;
}

.visivel {
    visibility:visible;
}