* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    display: flex;
    background-color: #ddd;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.areaLogin {
    display: flex;
    position: relative;
    top: 7vh;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: rgb(0, 158, 45);
    box-shadow: 1px 1px 10px #000;
    border-radius: 3% 3% 5% 3%;
}

.areaLogin img {
    width: 400px;
    margin: 30px;
}

.caixaLogin {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 400px;
    border-radius: 15% 4% 6% 0px;
    background-color: #f7f7f7;
}

.titulo {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    z-index: 1;

}

.titulo h1 {
    font-size: 25pt;
    color: rgb(0, 158, 45);
}

.titulo h2 {
    font-size: 20pt;
    color: rgb(0, 158, 45);
}

.titulo p {
    font-size: 15pt;
    color: rgb(0, 158, 45);
    margin-top: 15px;
}

.formulario {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    font-size: 17px;
    width: 90%;
    height: 200px;
}

.formulario form {
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

.formulario form input {
    width: 91%;
    font-size: 12pt;
    margin-bottom: 15px;
    padding: 4%;
    border-radius: 3px;
    border: 1px solid rgb(0, 158, 45);
    display: block;
}

.formulario form input:hover {
    border: 1px solid rgb(0, 82, 23);
}

.formulario form input:focus {
    box-shadow: 4px 4px 5px rgb(0, 82, 23);
    outline: 0;
}

.formulario form button {
    font-size: 14pt;
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-radius: 3px;
    box-shadow: 2px 5px 10px #000;
    background-color: rgb(0, 158, 45);
    color: #fff;
    border: none;

}

.formulario form button:hover {
    background-color: rgb(0, 82, 23);
    box-shadow: 5px 5px 5px #000;
    cursor: pointer;
}

.formulario label {
    display: block;
}

.rodape {
    margin: 10px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape .esqSenha {
    text-decoration: none;
    color: #00f;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.rodape .esqSenha:hover {
    color: rgb(0, 0, 100);
}

.rodape .cadastrar {
    font-size: 12pt;
    width: 100%;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    box-shadow: 2px 5px 10px #000;
    background-color: rgb(0, 0, 255);
    color: #fff;
    border: none;
}

.rodape .cadastrar:hover {
    background-color: rgb(0, 0, 100);
    box-shadow: 5px 5px 5px #000;
    cursor: pointer;
}

.mensagem {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.mensagem p {
    position: relative;
    padding: 10px;
    width: inherit;
    background-color: #fcc;
    color: #333;
    font-size: 15pt;
    text-align: center;
}

/* janela de cadastro =========================================================================================*/

.mostrarJanela {
    display: block !important;
}

.areaCreateAcount {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgb(0, 0, 0, 0.8);
}

.areaCreateAcount .linksCreateAcount {
    top: 100px;
    width: 580px;
    height: max-content;
    border-radius: 10px;
    background-color: #fff;
    margin: 8vh auto auto auto;
    display: flex;
    flex-direction: column;
}


.areaCreateAcount .linksCreateAcount .cabecalhoCreateAcount {
    position: relative;
    font-size: 15pt;
    padding: 15px;
    background-color: rgb(0, 158, 45);
    border-radius: 9px 9px 0px 0px;
    margin-bottom: 10px;
}

.btnFecharCreateAcount {
    position: absolute;
    top: 2vh;
    cursor: pointer;
    right: 15px;
}

.linksCreateAcount .cabecalhoCreateAcount h4 {
    color: #fff;
    width: 100%;
}

.quadro{
    display: flex;
    justify-content: center;
    width:100%;
    height: 100%;
    margin: 30px 0px 30px 0px;
}

.campoCreateAcount {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-bottom: 6px;
}

.campoCreateAcount div{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.campoCreateAcount div div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #aaa solid 1px;
    background-color: #eee;
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin: 5px 10px 10px 10px;
}

.campoCreateAcount .campos {
    border: #aaa solid 1px;
    border-radius: 2px;
    padding: 10px;
    background-color: #eee;
    width: 100%;
    margin: 5px 10px 5px 10px;
}

.campoCreateAcount .campos:focus{
    box-shadow: 4px 4px 5px rgb(0, 82, 23);
    outline: 0;
}

#camposGenero{
    display: none;
}

.campoCreateAcount div label{
    padding-right: 10px;

}
.areaCreateAcount button{
    font-size: 12pt;
    width: max-content;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    box-shadow: 2px 5px 10px #000;
    background-color: rgb(0, 0, 255);
    color: #fff;
    border: none;
    margin-top: 20px;
}

.areaCreateAcount button:hover{
    
    background-color: rgb(0, 0, 100);
    box-shadow: 5px 5px 5px #000;
    cursor: pointer;
}

h3{
    color: #444;
    margin: 10px 0px 0px 10px;
    font-size: 11pt;
}


/* ==================================================================================== */

@media screen and (max-width: 870px) {

    .areaLogin img {
        width: 300px;
        margin: 2px;
    }
}

@media screen and (max-width: 725px) {
    .areaLogin {
        flex-direction: column;
        padding: 15px;
        height: 700px;
        top: 20px;
    }

    .areaLogin img {
        width: 200px;
    }

    .formulario {
        height: 200px;
    }

    .caixaLogin {
        border-radius: 6%;
    }

    body {
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 440px) {
    .areaLogin {
        flex-direction: column;
        padding: 5px 5px 15px 5px;
        height: 730px;
    }

    .caixaLogin {
        width: 300px;
    }

    .areaLogin img {
        width: 200px;
    }

}