.containerChat{
    display: flex;
    position:absolute;
    left: 20px;
    margin-top: 90px;
    margin-bottom: 20px;
    width: 97%;
    height: calc(100% - 92px);
    background-color: #fff;
    border-radius: 30px 30px 0px 0px;
    border: rgb(192, 191, 191) solid 1px;
}
.perfilFriends{
    display: flex;
    flex-direction: column;
    position:absolute;
    width: 300px;
    height: 100%;
    background-color: #fff;
    border-radius: 30px 0px 0px 0px;
    overflow-y: scroll;
    z-index: 1;
}

.itemChat{
    display: flex;
    position: relative;
    width: calc(100% - 10px);
    align-items: center;
    height: max-content;
    border-bottom: rgb(192, 191, 191) solid 1px;
    padding: 5px;
    cursor: pointer;
}

.itemChat:hover, .selected{
    background-color: rgb(223, 223, 223);
}

.itemChat div{
    display: flex;
    align-items: center;
    height: 65px;
}

.itemChat img{
    width: 60px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
}

.containerConversa{
    position: relative;
    left: 300px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    align-items: center;
    
}

.online {
    position: absolute;
    width: 12px;
    height: 12px !important;
    bottom: 40px;
    left: 55px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #090;
}

.offline {
    position: absolute;
    width: 12px;
    height: 12px !important;
    bottom: 40px;
    left: 55px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #888;
}

.divNunHistory{
    width: 20px;
    font-size: 10pt;
    color: rgb(255, 255, 255);
    height: 20px !important;
    padding: 4px;
    background-color: rgba(141, 0, 0, 0.8);
    position: absolute;
    right: 7px;
    top: 25px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.conversas{
    height: 480px;
    width: 530px;
    overflow-y: scroll;
}

.caixa-outro {
    display: flex;
    margin-right: 25%;
    margin-left: 5%;
    justify-content: flex-start;
}

.caixa-eu {
    display: flex;
    margin-right: 1%;
    margin-left: 25%;
    justify-content: end;
    align-items: end;
}

.mensagem-eu {
    vertical-align: middle;
    width: fit-content;
    border-radius: 15px 15px 0px 15px;
    color: #fff;
    text-align: start;
    background-color: #333;
    margin-top: 10px;
    padding: 10px;
    word-break: break-all;
}

.caixa-eu .visto{
    width: 20px;
    height: 20px;
    margin-top: 34px;
    margin-left: 4px;
} 

.mensagem-outro {
    width: fit-content;
    border-radius: 15px 15px 15px 0px;
    color: #333;
    background-color: #ccc;
    margin-top: 10px;
    padding: 10px;
    word-break: break-all;
}

.submit-bate-papo {
    position: relative;
    display: flex;
    bottom: -6px;
    height: 50px;
    width: 100%;
    justify-content: center;
}

.btnChat {
    position: relative;
    top: 10px;
    color: #000;
    float: right;
    width: 60px;
    height: 30px;
}

.inputChatMessage {
    position: relative;
    width: 60%;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin: 8px;
    margin-bottom: 0px;
    bottom: 0px;
}

.visivel {
    visibility: visible;
}